<div>
<div>
<table width="500px" border="0">



<tr><td>Printer/Fax Name:
<td align="left">


<div data-dojo-attach-point="requesttype"  ></div>



<!-- <select data-dojo-type="dijit/form/ComboBox" data-dojo-attach-point="requesttype"   name="requesttype"  data-dojo-attach-event="onChange:onchange">
    <option value="printtype">Microsoft XPS Document Writer</option>
    <option value="faxtype">FaxDev</option></select> -->
 

</tr></td>

<tr><td >Paper Size:
<td align="left">


<div data-dojo-attach-point="papersize"  ></div>


<!-- <select data-dojo-type="dijit/form/ComboBox" data-dojo-attach-point="papersize"   name="papersize">
    <option value="default">default</option>
  </select> -->
</td></tr>


<tr><td>Annotation:
<td align="left"><input data-dojo-attach-point="Annotation"  type="checkbox"  data-dojo-type="dijit/form/CheckBox" checked>



</td></tr>
</table>
</div>
<div>
<fieldset style="border:1px solid #ccc;"><legend>Print Range</legend>

	 <input type="radio" data-dojo-type="dijit/form/RadioButton" name="pages" data-dojo-attach-point="allpages" checked data-dojo-attach-event="onChange:onchangeradio" /> <label for="allpages">All Pages</label> <br />
    <input type="radio" data-dojo-type="dijit/form/RadioButton" name="pages" data-dojo-attach-point="SelectedPages" /> <label for="SelectedPages">Selected Pages</label> <br />
    <br/>

<!-- <table width="100%" border="1" bordercolor="#f0f0f0" cellpadding="0" cellspacing="0">
  <tr>
  
  <td> -->

<div data-dojo-attach-point="gridid"  ></div>
  
    <!-- <th style="background:#4a74a9;color:#fff;">S.No</th>
    <th style="background:#4a74a9;color:#fff;">Name</th>
    <th style="background:#4a74a9;color:#fff;">All Pages</th>
    <th style="background:#4a74a9;color:#fff;">Start Page</th>
    <th style="background:#4a74a9;color:#fff;">Last Page</th>
  </tr>
  <tr>
    <td align="center">1</td>
    <td align="center">Demo Test batch</td>
    <td align="center"><input  type="checkbox" value="allpagescheck" data-dojo-type="dijit/form/CheckBox" data-dojo-attach-point="allpages1"></td>
    <td align="center"><input style="width:30px" data-dojo-attach-point="startpage" name="start page" data-dojo-type="dijit/form/ValidationTextBox"  /></td>
    <td align="center"><input style="width:30px" data-dojo-attach-point="lastpage" name="lastpage" data-dojo-type="dijit/form/ValidationTextBox"  /></td>
  </tr>  </td>
</tr>
</table>-->

</fieldset><br/>
</div>



<div data-dojo-attach-point = "faxoptiondiv"> 
	
	
<div   style="background:#d3d3d3; color:#a2a2a2;">Fax Option</div>

<table width="100%" border="0">
<tr><td>CoverPage:
<td width="75%" align="left"><input data-dojo-attach-point="CoverPage"  type="checkbox"  data-dojo-type="dijit/form/CheckBox" checked>


<td width="15%">Quality
<td align="left">
<div data-dojo-attach-point="quality"  ></div>

<tr><td>Fax To No:</td>
<td ><input data-dojo-attach-point="faxto" name="faxto"  data-dojo-type="dijit.form.ValidationTextBox" data-dojo-props="required: true, invalidMessage:'Please enter Value'"/>
</td>
 <td>From:</td>
<td ><input data-dojo-attach-point="faxfrom" name="faxfrom" data-dojo-type="dijit.form.ValidationTextBox"  />
</td>
</tr>
  <tr>
  <td >To:</td>
<td ><input data-dojo-attach-point="to" name="to"  data-dojo-type="dijit.form.ValidationTextBox" data-dojo-props="required: true, invalidMessage:'Please enter Value'"/>
</td>
  
  <td>Phone No:</td>
<td ><input data-dojo-attach-point="phoneno" name="phoneno" data-dojo-type="dijit.form.ValidationTextBox"  />
</td>
  
 </tr>
 
 
 <tr>
 
 <td >Company:</td>
<td ><input data-dojo-attach-point="company" name="company" data-dojo-type="dijit.form.ValidationTextBox"  />
</td>
  
  <td>Fax No:</td>
<td ><input data-dojo-attach-point="faxno" name="faxno" data-dojo-type="dijit.form.ValidationTextBox"  />
</td>
 
 
 </tr>
 
<tr>
  <td>Notes:</td>


<td colspan="3"><textarea  data-dojo-attach-point="notes" name="notes" data-dojo-type="dijit/form/SimpleTextarea" rows="4" cols="50" style="width:auto;"></textarea></td>

</tr>

</table>


</div>


<div data-dojo-attach-point = "printoptiondiv"> 

<div   style="background:#d3d3d3; color:#a2a2a2;">Print Option</div>

<table width="100%" border="0">




<tr><td width="15%" >Eject tray:
<td align="left">
<div data-dojo-attach-point="ejecttray"  ></div>
</td></tr>

<tr><td>Orientation:</td>
<td ><div data-dojo-attach-point="orientation"  ></div>
</td>
 <td>Collate:</td>
 <td align="left"><input data-dojo-attach-point="collate"  type="checkbox"  data-dojo-type="dijit/form/CheckBox" >

</td>
</tr>
  <tr>
  <td >Scaling:</td>
<td ><div data-dojo-attach-point="scaling"  ></div>
</td>
  
  <td>Copies:</td>
<td ><div data-dojo-attach-point="copies"  ></div>
</td>
  
 </tr>
 
 
 <tr>
 
 <td >Priority:</td>
<td ><div data-dojo-attach-point="priority"  ></div>
</td>
  
  <td>Print Time:</td>
<td ><input data-dojo-attach-point="printtime" name="printtime" data-dojo-type="dijit.form.ValidationTextBox"  />
</td>
 
 
 </tr>
 






</table>

</div>








</div>